@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 630px) {
  #hero-img {
    background-image: url("./assets/images/mobile-ilustration.svg");
    background-size: cover;
    background-position: center;
    object-fit: contain;
  }
}
